.node{
    background-color: rgb(255, 255, 255);
    background-size:cover;
    height: 270px;
    width:300px;
    border-radius:7px;
    box-shadow: 7px 7px 5px 0px rgba(175, 174, 174, 0.75);
    border-top: 3px solid #f7f7f7;
    position: relative;
    left: -50px;
   
}

.text-center li{
    list-style: none;
}

.node h3 a{
    text-decoration: none;
    color: rgb(48, 48, 48);
}

#app{
    position: relative;
    left: 50px;
    bottom:20px;
}
